{% extends "tiendaVirtual/layout.html" %}
{% load static %}
{% block main %}
    <section class="container">
        <header class="border-bottom mb-5">
            <h2>Modificar Productos</h2>
        </header>
        <div class="row">
            <article class="col-md-10 mx-auto">
                <form action="{% url 'TIENDAVIRTUAL:producto_modificar' un_producto.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        {% comment %} <header class="form-group d-flex flex-column border-bottom py-2 mb-3">
                            <label for="titulo_input" style="font-size:0.7rem;text-transform:uppercase;color:#333;letter-spacing:1px;margin-bottom:0.5rem">
                            Titulo</label> 
                            {{ form.producto_titulo }} {{ form.producto_titulo.errors }}
                        </header> {% endcomment %}
                         <header class="d-flex justify-content-between border-bottom py-2 mb-3">
                            <div>
                                <span style="font-size:0.7rem;text-transform:uppercase;color:#ccc;letter-spacing:1px;">Titulo</span>
                                <h2>{{ form.producto_titulo }} {{ form.producto_titulo.errors }}</h2>
                            </div>
                            <div>
                                <a href="{% url 'TIENDAVIRTUAL:producto_eliminar' un_producto.id %}" class="btn btn-danger">Eliminar</a>
                            </div>
                        </header>
                        <div class="form-group row py-2">
                            <div class="col-md-4 border d-flex justify-content-center flex-column" style="background-color:#f5f5f5;">
                                    <label for="imagen_input" style="font-size:0.7rem;text-transform:uppercase;color:#333;letter-spacing:1px;margin-bottom:0.5rem">Imagen</label>
                                    {{ form.producto_imagen }} {{ form.producto_imagen.errors }}
                            </div>
                            <div class="col-md-8 py-3 d-flex flex-column justify-content-between m-0">
                                    <label for="categoria_input" style="font-size:0.7rem;text-transform:uppercase;color:#333;letter-spacing:1px;margin-bottom:0.5rem">
                                    Categoria:</label> {{ form.producto_categoria }} {{ form.producto_categoria.errors }}
                                    <div class="mb-3"></div>
                                    <label for="descripcion_input" style="font-size:0.7rem;text-transform:uppercase;color:#333;letter-spacing:1px;margin-bottom:0.5rem">
                                    Descripcion</label> {{ form.producto_descripcion }} {{ form.producto_descripcion.errors }}
                                    <div class="mb-3"></div>
                                <div class="d-flex justify-content-between align-items-center border-top pt-4 w-100">
                                    <div class="">
                                        <label for="precio_input">Precio $</label> {{ form.producto_precio }} {{ form.producto_precio.errors }}
                                    </div>
                                    <div class="col-group">
                                        <input  type="submit" class="btn btn-warning" value="Guardar cambios">
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                </form>
            <article>
        </div>
    </section>
{% endblock %}