{% extends "tiendaVirtual/layout.html" %}

{% load static %}

{% block main %}
   
        <article class="container">
            <header>
                <h1>SOBRE NOSOTROS</h1>
            </header>
            <div class="row py-5">
                <P>Etiam dignissim ornare pharetra. Aliquam sed consequat lectus. Nullam fermentum, odio eget eleifend molestie, purus risus iaculis diam, ut auctor metus est sed enim. In posuere velit eget massa lobortis volutpat. Ut tincidunt ante vitae sapien tristique eleifend. Sed est lectus, malesuada eu mi sed, pellentesque viverra libero. Pellentesque pretium eu lorem vitae luctus. Sed consectetur odio sit amet consectetur pellentesque. Sed dignissim hendrerit tellus, nec porttitor ex dictum quis. Sed sapien massa, mattis at viverra non, iaculis hendrerit diam. Duis vitae nisl tincidunt, hendrerit urna id, elementum odio. Pellentesque consectetur lectus ex, eget ornare nisi vehicula vitae.</P>
            </div>
        </article>
        
{% endblock main %}