{% extends "registration/layout.html" %}

{% block content %}
<article>
  <header class="py-3">
    <h1>Cambiar Password</h1>
  </header>
<p>Debe ingresar el correo electrónico que usó al registrarse:</p>

    <form action="" method="post">{% csrf_token %}
        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
            <p>{{ form.email }}</p>
        <input type="submit" class="btn btn-primary btn-lg" value="Reset password" />
    </form>

    <p>
    <a href="{% url 'login' %}">Volver al Login</a>
    </p>
</article>
{% endblock %}